{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
<style>
    .top-0 {
        z-index: 1000;
        left: 25%;
        height: auto;
    }

    @media screen and (max-width:500px) {

        .top-0 {
        left: 5%;
    }
    }
</style>
<div class=" w-50  mt-5 mb-0 bg-transparent position-absolute top-0  mensajes">
    {% for category, message in messages %}
    {% set alert_class = category if category in ['success', 'danger', 'warning', 'info'] else 'primary' %}
    <div class="alert alert-{{ alert_class }} alert-dismissible   fade show mb-2 pos" role="alert">
        <strong class="text-center">{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
<script src="../static/Js/eliminar_alertas.js"></script>
{% endif %}
{% endwith %}