<div class="card-group mx-3 mb-4 mt-4"> <!-- Primer grupo de cartas -->
    <!-- Peso -->
    <div class="card">
        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Peso">
        <div class="card-body">
            <h5 class="card-title">Peso</h5>
            <p class="card-text">El peso corporal es una medida importante que se utiliza
                para evaluar la salud general y el estado nutricional. Mantener un peso
                saludable es fundamental para prevenir enfermedades y promover el bienestar.
            </p>
            <p class="card-text"><strong>Tu progreso actual:</strong> 13 kg</p>
        </div>
        <div class="card-footer">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="pesoDropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Opciones
                </button>
                <ul class="dropdown-menu" aria-labelledby="pesoDropdown">
                    <li><a class="dropdown-item" href="#">Ver historial</a></li>
                    <li><a class="dropdown-item" href="#">Editar</a></li>
                </ul>
            </div>
            <small class="text-body-secondary">Última actualización: 16/10/2024</small>
        </div>
    </div>

    <!-- Abdomen -->
    <div class="card">
        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Abdomen">
        <div class="card-body">
            <h5 class="card-title">Abdomen</h5>
            <p class="card-text">La medida del abdomen es crucial para evaluar el riesgo de
                enfermedades metabólicas. Un abdomen más grande puede indicar un mayor
                riesgo de problemas de salud.</p>
            <p class="card-text"><strong>Tu progreso actual:</strong> 10 cm</p>
        </div>
        <div class="card-footer">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="abdomenDropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Opciones
                </button>
                <ul class="dropdown-menu" aria-labelledby="abdomenDropdown">
                    <li><a class="dropdown-item" href="#">Ver historial</a></li>
                    <li><a class="dropdown-item" href="#">Editar</a></li>
                </ul>
            </div>
            <small class="text-body-secondary">Última actualización: 16/10/2024</small>
        </div>
    </div>
</div>

<div class="row mx-3 row-cols-1 row-cols-md-3 g-4">
    <!-- Brazo Derecho Relajado -->
    <div class="col">
        <div class="card">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Brazo Derecho Relajado">
            <div class="card-body">
                <h5 class="card-title">Brazo Der. Relajado</h5>
                <p class="card-text">Medir los brazos permite evaluar el estado muscular y
                    la grasa corporal. Un tamaño adecuado indica una buena salud y estado
                    físico.</p>
                <p class="card-text"><strong>Tu progreso actual:</strong> 20 cm</p>
            </div>
            <div class="card-footer">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="brazoDerechoDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">Opciones</button>
                    <ul class="dropdown-menu" aria-labelledby="brazoDerechoDropdown">
                        <li><a class="dropdown-item" href="#">Ver historial</a></li>
                        <li><a class="dropdown-item" href="#">Editar</a></li>
                    </ul>
                </div>
                <small class="text-body-secondary">Última actualización: 16/10/2024</small>
            </div>
        </div>
    </div>

    <!-- Brazo Derecho Contraído -->
    <div class="col">
        <div class="card">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Brazo Derecho Contraído">
            <div class="card-body">
                <h5 class="card-title">Brazo Der. Contraído</h5>
                <p class="card-text">Las medidas de los brazos son un indicativo del
                    desarrollo muscular y el estado nutricional. Mantener un equilibrio en
                    el tamaño de los brazos es importante.</p>
                <p class="card-text"><strong>Tu progreso actual:</strong> 20 cm</p>
            </div>
            <div class="card-footer">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="brazoDerechoContraidoDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">Opciones</button>
                    <ul class="dropdown-menu" aria-labelledby="brazoDerechoContraidoDropdown">
                        <li><a class="dropdown-item" href="#">Ver historial</a></li>
                        <li><a class="dropdown-item" href="#">Editar</a></li>
                    </ul>
                </div>
                <small class="text-body-secondary">Última actualización: 16/10/2024</small>
            </div>
        </div>
    </div>

    <!-- Brazo Izquierdo Relajado -->
    <div class="col">
        <div class="card">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Brazo Izquierdo Relajado">
            <div class="card-body">
                <h5 class="card-title">Brazo Izq. Relajado</h5>
                <p class="card-text">Las medidas de los brazos son un indicativo del
                    desarrollo muscular y el estado nutricional. Mantener un equilibrio en
                    el tamaño de los brazos es importante.</p>
                <p class="card-text"><strong>Tu progreso actual:</strong> 20 cm</p>
            </div>
            <div class="card-footer">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="brazoIzquierdoDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">Opciones</button>
                    <ul class="dropdown-menu" aria-labelledby="brazoIzquierdoDropdown">
                        <li><a class="dropdown-item" href="#">Ver historial</a></li>
                        <li><a class="dropdown-item" href="#">Editar</a></li>
                    </ul>
                </div>
                <small class="text-body-secondary">Última actualización: 16/10/2024</small>
            </div>
        </div>
    </div>

    <!-- Brazo Izquierdo Contraído -->
    <div class="col">
        <div class="card">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Brazo Izquierdo Contraído">
            <div class="card-body">
                <h5 class="card-title">Brazo Izq. Contraído</h5>
                <p class="card-text">Las medidas de los brazos son un indicativo del
                    desarrollo muscular y el estado nutricional. Mantener un equilibrio en
                    el tamaño de los brazos es importante.</p>
                <p class="card-text"><strong>Tu progreso actual:</strong> 20 cm</p>
            </div>
            <div class="card-footer">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="brazoIzquierdoContraidoDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">Opciones</button>
                    <ul class="dropdown-menu" aria-labelledby="brazoIzquierdoContraidoDropdown">
                        <li><a class="dropdown-item" href="#">Ver historial</a></li>
                        <li><a class="dropdown-item" href="#">Editar</a></li>
                    </ul>
                </div>
                <small class="text-body-secondary">Última actualización: 16/10/2024</small>
            </div>
        </div>
    </div>
</div>

<div class="row mt-1 mx-3 row-cols-1 row-cols-md-3 g-4">
    <!-- Pierna Derecha Relajado -->
    <div class="col">
        <div class="card">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Pierna Derecha Relajado">
            <div class="card-body">
                <h5 class="card-title">Pierna Der. Relajado</h5>
                <p class="card-text">La medición de las piernas es crucial para evaluar el
                    desarrollo muscular y la salud en general. Un tamaño adecuado indica un
                    buen nivel de actividad física.</p>
                <p class="card-text"><strong>Tu progreso actual:</strong> 20 cm</p>
            </div>
            <div class="card-footer">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="piernaDerechaDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">Opciones</button>
                    <ul class="dropdown-menu" aria-labelledby="piernaDerechaDropdown">
                        <li><a class="dropdown-item" href="#">Ver historial</a></li>
                        <li><a class="dropdown-item" href="#">Editar</a></li>
                    </ul>
                </div>
                <small class="text-body-secondary">Última actualización: 16/10/2024</small>
            </div>
        </div>
    </div>

    <!-- Pierna Derecha Contraído -->
    <div class="col">
        <div class="card">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Pierna Derecha Contraído">
            <div class="card-body">
                <h5 class="card-title">Pierna Der. Contraído</h5>
                <p class="card-text">Las medidas de las piernas son un indicativo del
                    desarrollo muscular y el estado físico. Mantener un tamaño adecuado es
                    importante.</p>
                <p class="card-text"><strong>Tu progreso actual:</strong> 20 cm</p>
            </div>
            <div class="card-footer">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="piernaDerechaContraidoDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">Opciones</button>
                    <ul class="dropdown-menu" aria-labelledby="piernaDerechaContraidoDropdown">
                        <li><a class="dropdown-item" href="#">Ver historial</a></li>
                        <li><a class="dropdown-item" href="#">Editar</a></li>
                    </ul>
                </div>
                <small class="text-body-secondary">Última actualización: 16/10/2024</small>
            </div>
        </div>
    </div>

    <!-- Pierna Izquierda Relajado -->
    <div class="col">
        <div class="card">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Pierna Izquierda Relajado">
            <div class="card-body">
                <h5 class="card-title">Pierna Izq. Relajado</h5>
                <p class="card-text">La medición de las piernas es crucial para evaluar el
                    desarrollo muscular y la salud en general. Un tamaño adecuado indica un
                    buen nivel de actividad física.</p>
                <p class="card-text"><strong>Tu progreso actual:</strong> 20 cm</p>
            </div>
            <div class="card-footer">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="piernaIzquierdaDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">Opciones</button>
                    <ul class="dropdown-menu" aria-labelledby="piernaIzquierdaDropdown">
                        <li><a class="dropdown-item" href="#">Ver historial</a></li>
                        <li><a class="dropdown-item" href="#">Editar</a></li>
                    </ul>
                </div>
                <small class="text-body-secondary">Última actualización: 16/10/2024</small>
            </div>
        </div>
    </div>

    <!-- Pierna Izquierda Contraído -->
    <div class="col">
        <div class="card">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Pierna Izquierda Contraído">
            <div class="card-body">
                <h5 class="card-title">Pierna Izq. Contraído</h5>
                <p class="card-text">Las medidas de las piernas son un indicativo del
                    desarrollo muscular y el estado físico. Mantener un tamaño adecuado es
                    importante.</p>
                <p class="card-text"><strong>Tu progreso actual:</strong> 20 cm</p>
            </div>
            <div class="card-footer">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button"
                        id="piernaIzquierdaContraidoDropdown" data-bs-toggle="dropdown"
                        aria-expanded="false">Opciones</button>
                    <ul class="dropdown-menu" aria-labelledby="piernaIzquierdaContraidoDropdown">
                        <li><a class="dropdown-item" href="#">Ver historial</a></li>
                        <li><a class="dropdown-item" href="#">Editar</a></li>
                    </ul>
                </div>
                <small class="text-body-secondary">Última actualización: 16/10/2024</small>
            </div>
        </div>
    </div>

    <!-- Muslo Derecho -->
    <div class="col">
        <div class="card">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Muslo Derecho">
            <div class="card-body">
                <h5 class="card-title">Muslo Der.</h5>
                <p class="card-text">La medición del muslo es crucial para evaluar el
                    desarrollo muscular y la salud. Un muslo bien desarrollado es un signo
                    de actividad física.</p>
                <p class="card-text"><strong>Tu progreso actual:</strong> 20 cm</p>
            </div>
            <div class="card-footer">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="musloDerechoDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Opciones
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="musloDerechoDropdown">
                        <li><a class="dropdown-item" href="#">Ver historial</a></li>
                        <li><a class="dropdown-item" href="#">Editar</a></li>
                    </ul>
                </div>
                <small class="text-body-secondary">Última actualización: 16/10/2024</small>
            </div>
        </div>
    </div>
</div>

<div class="row mt-1 mx-3 mb-4 row-cols-1 row-cols-md-3 g-4">
    <!-- Torso -->
    <div class="col">
        <div class="card">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Torso">
            <div class="card-body">
                <h5 class="card-title">Torso</h5>
                <p class="card-text">La medición del torso es fundamental para evaluar el
                    desarrollo muscular y la salud en general. Mantener un equilibrio es
                    clave para el bienestar.</p>
                <p class="card-text"><strong>Tu progreso actual:</strong> 20 cm</p>
            </div>
            <div class="card-footer">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="torsoDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Opciones
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="torsoDropdown">
                        <li><a class="dropdown-item" href="#">Ver historial</a></li>
                        <li><a class="dropdown-item" href="#">Editar</a></li>
                    </ul>
                </div>
                <small class="text-body-secondary">Última actualización: 16/10/2024</small>
            </div>
        </div>
    </div>

    <!-- Muslo Izquierdo -->
    <div class="col">
        <div class="card">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Muslo Izquierdo">
            <div class="card-body">
                <h5 class="card-title">Muslo Izq.</h5>
                <p class="card-text">La medición del muslo es crucial para evaluar el
                    desarrollo muscular y la salud. Un muslo bien desarrollado es un signo
                    de actividad física.</p>
                <p class="card-text"><strong>Tu progreso actual:</strong> 20 cm</p>
            </div>
            <div class="card-footer">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="musloIzquierdoDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Opciones
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="musloIzquierdoDropdown">
                        <li><a class="dropdown-item" href="#">Ver historial</a></li>
                        <li><a class="dropdown-item" href="#">Editar</a></li>
                    </ul>
                </div>
                <small class="text-body-secondary">Última actualización: 16/10/2024</small>
            </div>
        </div>
    </div>
</div>