/* LETRAS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face {
    font-family: "Neue Haas Grotesk Display Pro";
    src: url(../tipografia/NeueHaasDisplayRoman.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}



.inicio__contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

/*Seccion del nav*/
.inicio__nav__logo {
    width: 80px;
}

.inicio__nav__logo--img {
    width: 100%;
    height: 100%;
}

.inicio__nav__enlaces {
    display: flex;
    gap: 10px;
}


/*Seccion principal*/
.inicio__imagen {
    /*Contenedor de la imagen*/
    width: 40%;
    height: 70vh;
    border-radius: 50px;
    margin-left: -12px;
    position: relative;
}

.inicio__imagen--img {
    width: 100%;
    height: 100%;
    /* transform: scale(1.06); */
    object-fit: cover;
    border-radius: 50px;
    /* background-color: yellow; */
}

.inicio__textos {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
    width: 45%;
    color: #343434;
    margin-left: 40px;
    font-family: 'Raleway', sans-serif;
}

.inicio__titulo {
    font-size: 4.7rem;
    font-family: 'Neue Haas Grotesk Display Pro', Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}

.inicio__titulo--salud {
    background: linear-gradient(90deg, #c8ddc2, #c8dbc0);
    background-clip: text;
    /* Aplica el degradado solo al texto */
    -webkit-text-fill-color: transparent;
    /* Hace que el texto en sí sea transparente */
}

.inicio__desc {
    font-family: 'Neue Haas Grotesk Display Pro', Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    color: #909090;
    width: 70%;
}

.inicio__btn__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.inicio__btn {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-size: 15px;
    font-weight: 500;
    width: 160px;
    height: 48px;
    filter: blur(.5);
    background: #343434;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 40px;
    border: none;
    color: white;
}

/*Seccion de las pildoras*/


.nutriologo__pildoras {
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 16px 12px;
}

.pildora {
    min-width: 85px;
    width: auto;
    padding: 10px 15px;
    height: auto;
    border: 1.6px solid #d4d4d4;
    color: #7e7b7b;
    background-color: transparent;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 500;
    cursor: default !important;
}



/*Seccion del nutriologo imagen*/

.nutriologo__container {
    position: absolute;
    bottom: -36px;
    left: 50px;
    width: 245px;
    height: 91px;
    background-color: #f3f3f3;
    border-radius: 70px;
    margin-bottom: 40px;
    box-shadow: 1px 3px 10px -1px rgba(77, 76, 76, 0.22);
}

.nutriologo__flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.imagen__nutriologo {
    display: block;
    margin: 0;
    height: 68%;
}

.profiles-wrap {
    display: flex;
    margin-left: 7px;
    /* background-color: red; */
}

.imagen__profiles {
    width: 44px;
    height: 44px;
    margin: 0;
    /* background-color: red; */
}

.imagen__profiles:nth-child(2) {
    position: relative;
    left: -12%;
}


.imagen__profiles--img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.319);
}

.nutriologo__flex__textos {
    display: flex;
    width: 55%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */
}

.nutriologo__text {
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: bold;
    margin: 1px;
}

.nutriologo__desc {
    font-size: 14px;
    margin: 0;
    /* color: #909090; */
}

.decora--container  {
    display: none;
}

@media screen and (max-width:1367px) {
    .inicio__imagen {
        height: 73vh;
        width: 38%;
        margin-left: 0px;
    }

    .inicio__desc {
        font-size: 1.4rem;
    }

    .nutriologo__pildoras {
        display: none;
        margin-top: 20px;
    }

    .profiles-wrap {
        display: none;
    }
}

/*Responsive*/
/*Celulares*/
@media screen and (max-width: 425px) {
    .inicio__imagen {
        display: none;
    }

    .inicio {
        /* background-color: red; */
        /* background-color: rgba(111, 245, 158, 0.572); */
        height: 100vh;
        overflow: hidden;
        position: relative;
    }

    .inicio__contenedor {
        flex-direction: column;
        height: 100vh;
        width: 100%;
        /* background-color: red; */
        /* background-color: #e5eeec; */
    }

    .inicio__textos {
        /* background-color: palegreen; */
        width: auto;
        align-items: center;
        margin: 0 auto;
        /* height: auto; */
    }

    .inicio__titulo {
        font-size: 2.3rem;
        text-align: center;
        /* background-color: red; */
        /* font-weight: normal; */
        font-weight: bold;
    }

    .inicio__desc {
        font-size: 1.34rem;
        font-weight: 200;
        line-height: 1.8rem;
        text-align: center;
    }

    .nutriologo__container {
        display: none;
    }

    .nutriologo__pildoras {
        /* background-color: red; */
        margin: 0 auto;
        gap: 10px;
        margin-top: 15px;
        width: 70%;
        margin-left: 13%;

        justify-content: center;
    }


    .inicio__btn {
        margin-left: 15px;
    }

    .imagenes-decora {
        width: 100px;
        position: absolute;
        top: 0;
        transform: scale(.8);
        /* opacity: .85; */
        /* background-color: red; */
    }

    .decora--container .imagenes-decora:nth-child(1) {
        transform: scale(.5);
        /* opacity: .8; */
    }

    .decora--container .imagenes-decora:nth-child(2) {
        right: -2.2rem;
        top: 20px;
        transform: scale(.6) rotate(-40deg);
        opacity: .8;
    }

    .decora--container .imagenes-decora:nth-child(3) {
        left: -50px;
        top: 37%;
    }

    .decora--container .imagenes-decora:nth-child(4) {
        top: 55%;
        right: -2.5rem;
        /* background-color: red; */
    }

    .decora--container .imagenes-decora:nth-child(5) {
        top: 85%;
        left: 2.5rem;
    }
}